.sort-email, .sort-username {
    background: rgb(212, 206, 119);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
    color: rgb(100, 92, 92);
    cursor: pointer;
    width: 4em;
    padding: 10px;
    margin: 0 0 0.3em;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
  }

  .sort-username {
    position: absolute;
    top: 400px;
    left: -70px;
  }

  .sort-email {
    position: absolute;
    top: 500px;
    left: -70px;
  }

  .sort-email:active {
    top: 501px;
    box-shadow: none;
    transition: top 0.5s;
    outline: none;
  }

  .sort-username:active {
    top: 401px;
    box-shadow: none;
    transition: top 0.5s;
    outline: none;
  }

  .sort-email:hover, .sort-username:hover {
    background: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
    outline: none;
    transition: background 1s, color 1s;
  }

  .sort-email-title, .sort-username-title {
    display: inline-block;
    font-size: 0.6em;
  }